/* body style */

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(0, 0%, 14%);
}

/* header elements below */
header {
    box-sizing: border-box;
    background: hsl(193, 57%, 50%);
    padding: 15px;
    margin-bottom: 30px;
}

.title {
    color: hsl(219, 88%, 59%);
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 5px 0px;
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: #363636
}

h2 {
    font-size: 28px;
    margin: -20px 0px 10px 0px;
    padding: 5px;
}

/* my general styles for my nav and h3 headers */
h3 {
    size: 24px;
    color: white;
    margin: 10px 0;
    padding: -20px 0 10px 0;
}

h1, h2, h3 {
    font-family:'Courier New', Courier, monospace;
}

ul.nav-links {
    display: flex;
    justify-content: center;
    gap: 90px;
}

li > a {
    text-decoration: none;
    color: #363636;
    text-align: center;
    border: 2px solid #363636;
    border-radius: 5px;
    background: #DEDEDE;
}

.nav-links {
    list-style: none;
}

a:hover {
    background:hsl(219, 88%, 59%);
}

/* the main content section of my page */

main {
    background: hsl(0, 0%, 14%);
    margin: 0;
}

img {
    width: 400px;
    display: block;
    margin: auto;
    padding: auto;
}

hr {
    width: 800px;
}

.my-interests {
    padding: 20px 300px;
}

.about {
    margin: 24px;
    padding: 64px;
}

.footer {
    margin: 20px 400px;
}

.white-text {
    color: #DEDEDE;
}